################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/06_Rect_Sueecss_NewSys
/02_Triangle_Rect_Ex/build
/02_Triangle_Rect_Ex/bin
/07_Standard_Draw_System/build
/07_Standard_Draw_System/bin
/08_Standard_Sys_Constant_Buffer/bin
/08_Standard_Sys_Constant_Buffer/build
/01_Triangle_Rect/build
/01_Triangle_Rect/bin
/04_RenderSystem/bin
/04_RenderSystem/build
/05_Rect_Tex
/renderToTex_Lite/build
/renderToTex_Lite/bin/Debug
/08_Standard_Sys_Draw_Cube/bin
/08_Standard_Sys_Draw_Cube/build
/09_Standard_Sys_Draw_Cube/bin
/09_Standard_Sys_Draw_Cube/build
