################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/06_Rect_Sueecss_NewSys
/02_Triangle_Rect_Ex/build
/02_Triangle_Rect_Ex/bin
